<template>
  <div>
    <b-row>
      <b-col cols="8">
        <h2>รายการรับสมัคร</h2>
      </b-col>
      <b-col cols="4">
        <b-button variant="success">เพิ่มรายการรับสมัคร</b-button>
      </b-col>
    </b-row>
    <b-card></b-card>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
