<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <menuLists></menuLists>
      </b-col>
      <b-col>
        <router-view></router-view>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import menuLists from './menuLists'
export default {
  components: {
    menuLists
  }
}
</script>
