<template>
  <div>
    <h1>รายการ</h1>
    <b-nav vertical class="w-25">
      <b-nav-item><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/coop/singuplists">รายการรับสมัคร</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
